body {
    margin: 2em;
}

form {
    padding: 2em;
    border: 1px solid #444;
    border-radius: 1em;
    background-color: goldenrod;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.form-group label {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

.form-group input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0.25em;
}

button {
    padding: 0.75em;
    border: none;
    border-radius: 0.25em;
    background-color: navy;
    color: white;
    cursor: pointer;
}